.pink-text{
    color: #FC3E6B;
}
.pink-bg{
    background-color: #FC3E6B;
}

.orange-text{
    color: #FDA228;
}
.orange-bg{
    background-color: #FDA228;
}

.blue-text{
    color: #1DAAFC;
}
.blue-bg{
    background-color: #1DAAFC;
}