input{
  padding: 15px;
  margin: 10px 0px;
  width: 100%;
  border: 2px solid #f0f0f0;
	border-radius: 10px;
	display: block;
	font-size: 12px;
	padding: 15px;
	width: 100%;
}
span{
  font-size:10px;
  padding: 3px;
  color: red;
  display: none;
}
input:invalid[focused="true"] {
  border:1px solid red
}

input:invalid[focused="true"] ~ span{
  display: block;
}


/* Forms */

.forms{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100vh;

  
}

form {
  width: 30vw;
  margin: 2%;
  padding: 40px;
  background-color: whitesmoke;
  border-radius: 10px;
  font-size: 12px;
  
}

form h1 {
  color: #0f2027;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
 align-items: left;
 display: flex;
 padding: 20px 0px;
}



button {
 background-color:#FDA228;
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  color: white;
  
  
 }
 
 button:hover {
  transition: all 0.1s ease-in-out;
  background-color: #E38910;
 
 }
 



