
.talent-card {
  background: #f5f5f5;
  overflow: visible;
  box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
 }


 
 .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
  padding: 0 1rem;
 }
 .card-info h5 {
  color: #1C93D8;
 }
 
 .card-img {
  background-color: #fff;
  width: 140px;
  height:140px;
  border-radius: 50%;
  transform: translateY(-60%);
  
  /* background:url('../images/photo.png'); */
  position: absolute;

 }
 

 
 /*Text*/
 .text-body {
  font-size: .8em;
  text-align: center;
  color: #6f6d78;
  font-weight: 400;
  font-style: italic;
 }
 .card-info p{
  color: gray;
  text-align: justify;
 }
.availability {
  display: flex;
  align-items: center;
  padding: 9px;
}
 .box {
  display: inline-block;
  align-items: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
 }
 
 .green {
  background-color: #00ca4e;
  margin-right: 10px;
 }
 .grey {
  background-color: #b6b6b6;
  margin-right: 10px;
 }
 
 .talent-card-container{
  min-width: 1000px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap:100px;
 }
 @media screen and (max-width: 450px){
  .talent-card-container{

    grid-template-rows: 1fr ;
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 20px;
   }
}

 /* Positioncolor */

 .blueBorder{
 border: 3px solid#1C93D8;

 }
 .orangeBorder{

 border: 3px solid#FDA228;
 }
 .pinkBorder{
 
  border: 3px solid#FC3E6B;
 }
 .bluetext{
  color: #1C93D8;
 }
 .orangetext{
  color: #FDA228;
 }
 .pinktext{
  color: #FC3E6B;
 }
 
 .blueimgBorder{
  border: 3px solid#1C93D8;
 
  }
  .orangeimgBorder{
 
  border: 3px solid#FDA228;
  }
  .pinkimgBorder{
  
   border: 3px solid#FC3E6B;
  }